{% load static %}
<head>
  <link rel="stylesheet" href="{% static "css/static_table.css" %}">
</head>

<div class="static-table" style="
height: 460px;
overflow-x: auto;">
{% if '/records_add/' not in request.path %}
  <div class="buttons">
    <a href="{% url "homepage:radd" %}" class="btn btn-primary tree-button">ДОБАВИТЬ</a>
  </div>
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Упражнение</th>
        <th scope="col">Рекорд</th>
        <th scope="col">Дней с последнего рекорда</th>
      </tr>
    </thead>
    <tbody>
      {% for part in records %}
      <tr>
        <td>{{ part.exercise }}</td>
        <td>{{ part.record }}</td>
        <td>{{ part.days_since_record }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>  
  {% else %}
  <div class="buttons">
    <a href="{% url "homepage:radd" %}" class="btn btn-primary disabled tree-button">ДОБАВИТЬ</a>
  </div>
  <table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Упражнение</th>
        <th scope="col">Рекорд</th>
        <th scope="col">Дней с последнего рекорда</th>
      </tr>
    </thead>
    <tbody>
        <form method="POST">
        {% csrf_token %}
          <div>
            <td><input type="text" name="exercise" class="form-control"></td>
            <td><input type="text" name="record" class="form-control"></td>
            <td>
              <div class="d-flex align-items-center">
                <input type="date" name="date" class="form-control"><button type="submit" class="btn btn-primary">Готово</button></td>
              </div>
          </div>
        </form>
      {% for part in records %}
      <tr>
        <td>{{ part.exercise }}</td>
        <td>{{ part.record }}</td>
        <td>{{ part.days_since_record }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>  
  
  {% endif %}
</div>

