{% load static %}

{{ user_values.0.pk }}

{% if user_values.0 %}
<a href="{{ user_values.0.link }}">{{ user_values.0.title }}</a>
{% else %}

{% endif %}

{% if user_values.3 %}
<a href="{{ user_values.3.link }}">{{ user_values.3.title }}</a>
{% else %}

{% endif %}

<div style="width: 1000px;">
    <div class="table-responsive">
        <table class="table border">
            <thead>
                <tr><th class="text-center" colspan="3">Пользовательские ссылки</th></tr>
            </thead>
            <tbody>
                {% for user in user_values %}
                <tr>
                    {% if user.title != None and user.link != None and user.pk|stringformat:"s" not in request.path %}
                        <td class="d-flex justify-content-between"><a class="" href="{{ user.link }}">{{ user.title }}</a>
                            <a class="btn btn-outline-primary" href="{% url "homepage:userhref_add" user.pk %}">Редактировать</a></td>
                    {% elif user.pk|stringformat:"s" in request.path and user.pk == user.pk %}
                        <form method="POST">
                        {% csrf_token %}
                            <td><input name="title" type="text" class="form-control" placeholder="Имя..." value={{ form.instance.title }}></td>
                            <td><input name="link" type="text" class="form-control" placeholder="Ссылка..." value={{ form.instance.link }}></td>
                            <button type="submit" hidden></button>
                            
                        </form>
                    {% else %}
                        <td><a href="{% url "homepage:userhref_add" user.pk %}" class="form-control">ㅤ</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>








































<!--  <div>
    <div
        class="table-responsive"
    >
        <table
            class="table border"
        >
            <thead>
                <tr>
                    <th class="text-center" colspan="3">Пользовательские ссылки</th>
                </tr>
            </thead>
            <tbody>
                {% for user in user_values.empty %}

                {% if user.title != None and user.link != None %}
                <tr>
                    <td scope="row" colspan="2">
                    <div class="">
                        <a class="form-control" href="user.link" style="text-decoration: none;">{{ user.title }}</a>
                    </div>
                    </td>
                {% else %}
                {% if '/userhref_add/' in request.path and user.pk == form.instance.pk %}
                <form method="POST">
                {% csrf_token %}
                <tr>
                    <td scope="row" colspan="2">
                    <div class="">
                        <input class="form-control" href="user.link" style="text-decoration: none;">
                    </div>
                    </td>
                    <td>
                        <div class="">
                            <input class="form-control" href="user.link" style="text-decoration: none;">
                        </div>
                    </td>
                    <td>
                        <button
                            type="submit"
                            class="btn btn-primary"
                        >
                            Submit
                        </button>
                        
                    </td>
                </tr>
                </form>
                {% endif %}
                    <form method="POST">
                    {% csrf_token %}
                    <td scope="row" colspan="2">
                        <div class="">
                            <a class="form-control" href="{% url "homepage:userhref_add" user.pk%}" style="text-decoration: none;">ㅤ</a>
                        </div>
                    </td>
                    </form>
                    {% endif %}
                </tr>

                {% endfor %}
            </tbody>
        </table>
    </div>
    
</div> -->

<!--                    <td scope="row">
                        <div class="">
                            <input type="text" placeholder="Имя" class="form-control" name="title"/>
                        </div>
                    </td>
                    <td scope="row">
                        <div class="">
                            <input type="text" placeholder="Ссылка" class="form-control" name="link"/>
                        </div>
                    </td> -->